# Airflow Configuration
AIRFLOW_UID=
AIRFLOW_PROJ_DIR=

# Airflow Web UI Credentials
_AIRFLOW_WWW_USER_USERNAME=
_AIRFLOW_WWW_USER_PASSWORD=

# MinIO Configuration
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_ACCESS=
MINIO_SECRET=
MINIO_BUCKET=
MINIO_SECURE=
MINIO_ENDPOINT=

# Additional Python Requirements
# Leave empty to use the default packages defined in docker-compose.yaml
_PIP_ADDITIONAL_REQUIREMENTS=

# PostgreSQL DWH Configuration
POSTGRES_DWH_CONN_ID=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Providers 
OPEN_WEATHER_MAP_API_KEY=
WEATHER_BIT_API_KEY=