# Airflow Configuration
AIRFLOW_UID=1001
AIRFLOW_PROJ_DIR=.

# Airflow Web UI Credentials
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin123

# MinIO Configuration
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123

# Additional Python Requirements
# Leave empty to use the default packages defined in docker-compose.yaml
_PIP_ADDITIONAL_REQUIREMENTS=
